

  <div class="container d-flex flex-column min-vh-100 min-vw-100">
    <div class="d-flex flex-grow-1 justify-content-center align-items-center">
         <div class="">
             <div class="input-group mb-3">
                 <span class="input-group-text" id="basic-addon1">@</span>
                 <input type="text" class="form-control" placeholder="Email"  #passwordResetEmail aria-label="Email" aria-describedby="basic-addon1">
             </div> 
             
             <input type="button" style="margin-right: 10px;" class="btn btn-primary" value="Send verification email" (click)="authService.ForgotPassword(passwordResetEmail.value)">
             <span class="mx-3 text-primary">Go back? <a class="redirect" routerLink="/sign-in"> Sign In</a></span>        
         </div>
    </div>
 </div>